@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

@font-face {
    font-family: 'GoodMorning';
    src: url('./assets/fonts/Good_Morning.ttf'); /* Safari, Android, iOS */
}

* {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}

input[type='text'],
input[type='number'],
textarea,
input {
    font-size: 16px !important;
}

.Title {
    font-family: 'GoodMorning';
    font-weight: 400 !important;
}

.App {
    text-align: center;
}

.App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 40vmin;
    pointer-events: none;
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

.scroll-container {
    padding-top: 15px;
}

.counter-online-users span {
    font-size: 0.6em !important;
}

.input-comment {
    font-size: 16px !important;
    padding-right: 0% !important;
    outline: none !important;
    border: 1px solid rgba(37, 184, 100, .1) !important;
    resize: none !important;
    min-height: 40px !important;
}

.input-comment:focus, .input-comment:active {
    border: 0 !important;
}

.input-comment textarea {
    padding-right: 0 !important;
    overflow: hidden !important;
    resize: none !important;
    font-size: 16px !important;
    transition: all 0.1s ease-in;
    -webkit-transition: all 0.1s ease-in;
}

.card-topic {
    transition: all 0.25s ease-in;
    -webkit-transition: all 0.25s ease-in;
}

.input-comment textarea:active, .input-comment textarea:focus {
    border: none !important;
    outline: none !important;
    min-height: 150px !important;
}

.input-comment textarea::placeholder {
    font-size: 14px !important;
    color: rgba(0,0,0,.4);
}

.mention {
    color: #25b864;
    font-weight: 300;
}

.ant-timeline > .ant-timeline-item:last-child > .ant-timeline-item-tail {
    display: none;
}

.ant-timeline-item {
    padding-bottom: 5px;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

/* Extras */

.ant-notification {
    z-index: 999999 !important;
    top: 0 !important;
    bottom: auto;
    min-width: 100%;
    margin: 0;
    padding: 0;
}

.ant-notification .success {
    background: #25b864 !important;
    color: white !important;
    font-size: 1em;
    font-weight: 600;
    border-bottom: 2px solid rgba(0,0,0,.2);
}

.ant-notification .success svg, .ant-notification .success div {
    color: white !important;
}

.ant-notification .error {
    background: #e65454 !important;
    color: white !important;
    font-size: 1em;
    font-weight: 600;
    border-bottom: 2px solid rgba(0,0,0,.2);
}

.ant-notification .error svg, .ant-notification .error div {
    color: white !important;
}

.fade-in-section {
    opacity: 0;
    transform: translateY(20vh);
    visibility: hidden;
    transition: opacity 250ms ease-out, transform 250ms ease-out,
    visibility 250ms ease-out;
    will-change: opacity, transform, visibility;
}
.fade-in-section.is-visible {
    opacity: 1;
    transform: none;
    visibility: visible;
}

.ant-card-body {
    transition: all 0.1s ease-in;
    -webkit-transition: all 0.1s ease-in;
}

.ant-card-meta-title {
    margin-bottom: 0 !important;
}

.ant-card-meta-title span {
    font-size: 13px;
    color: #25b864 !important;
    font-weight: 600;
}

.ant-card-meta-description {
    font-size: 16px;
    color: rgba(80,80,80,1);
    margin-top: 10px;
    margin-bottom: 10px;
}

.ant-tabs.ant-tabs-card .ant-tabs-card-bar .ant-tabs-tab {
    background: rgba(0,0,0,.2) !important;
    color: white;
    opacity: 1;
    border-radius: 5px;
}

.ant-tabs.ant-tabs-card .ant-tabs-card-bar .ant-tabs-tab-active {
    background: rgba(0,0,0,.8) !important;
}

.ant-tabs.ant-tabs-card .ant-tabs-card-bar .ant-tabs-tab span {
    font-weight: 400;
}

/* Animations lottie */

div[aria-label="animation"] {
    margin: 0 !important;
}

.overlay-bottom-up {
    position: relative;
    overflow: hidden;
}

img {
    transition: all 0.1s ease-in;
    -webkit-transition: all 0.1s ease-in;
}

.ant-modal-mask {
    background: rgba(0,0,0,.9);
}

.overlay-bottom-up:before {
    opacity: .8;
    content: '';
    position: absolute;
    width: 100%;
    height: 80%;
    left: 0;
    bottom: 0;
    background: linear-gradient(to top, rgba(0,0,0,.5) 0%, rgba(0,0,0,0) 100%);
}

.filter-uploaded {
    -webkit-filter: blur(2px) grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: blur(2px) grayscale(100%);
}

.image-lightbox {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 9999;
    background: rgba(0,0,0,.95);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}