@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

@font-face {
    font-family: 'GoodMorning';
    src: url('./assets/fonts/Good_Morning.ttf'); /* Safari, Android, iOS */
}

.Title {
    font-family: 'GoodMorning';
    font-weight: 400 !important;
}

.App {
    text-align: center;
}

.App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 40vmin;
    pointer-events: none;
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

/* Extras */

.ant-notification {
    z-index: 999999 !important;
    top: 0 !important;
    bottom: auto;
    min-width: 100%;
    margin: 0;
    padding: 0;
}

.ant-notification .success {
    background: #25b864 !important;
    color: white !important;
    font-size: 1em;
    font-weight: 600;
    border-bottom: 2px solid rgba(0,0,0,.2);
}

.fade-in-section {
    opacity: 0;
    transform: translateY(20vh);
    visibility: hidden;
    transition: opacity 1200ms ease-out, transform 600ms ease-out,
    visibility 1200ms ease-out;
    will-change: opacity, transform, visibility;
}
.fade-in-section.is-visible {
    opacity: 1;
    transform: none;
    visibility: visible;
}

.ant-card-body {
    transition: all 0.1s ease-in;
    -webkit-transition: all 0.1s ease-in;
}

input[type=text] {
    font-size: 16px !important;
}